  <h3>Quantity Discounts</h3>
        <ul class="volume">
          <li>
            <div class="left">
              1+
            </div>
              <div class="right">
                $49.99/ea
              </div>
          </li>
          <li>
            <div class="left">
             <span class="quantity">4+</span>
              <span class="save">
                Save 4%
              </span>
            </div>
              <div class="right">
                $47.99/ea
                <s>$49.99</s>
              </div>
          </li>
           <li>
            <div class="left">
              <span class="quantity">6+</span>
               <span class="purple highlight">{% render 'svg-star' %} Most Popular</span>
              <span class="save">
                Save 8%
              </span>
            </div>
              <div class="right">
                $45.99/ea
                <s>$49.99</s>
              </div>
          </li>
          <li>
            <div class="left">
              <span class="quantity">9+</span>             
              <span class="deal highlight">{% render 'svg-star' %} Best Deal</span>
              <span class="save">
                Save 8%
              </span>
            </div>
              <div class="right">
                $43.99/ea
                <s>$49.99</s>
              </div>
          </li>
        </ul>
<style>
  .volume {
    margin-left:0;
  }
  .volume li {
    list-style-type:none;
    border: 1px solid #A7ABAF;
    border-radius: 0.5rem;
    padding: 1rem;
    margin: 0 0 0.5rem 0;
    font-weight: bold;
    display: flex;
    justify-content: space-between;
    font-size: 1.25rem;
  }

  .volume .left. .volume .right{
    font-size:1.25rem;
    width:3rem;
  }

   .volume s {
    font-weight:400;
    font-size: 0.8rem;
     display:block;
  }
  .highlight svg {
    margin-left: 0.25rem;
    color: #eaaf58;
  }
  .highlight {
    font-size: 0.8rem;
  }
 
  .popular {
    color: #6D0073;
  }
  .deal {
    color: #009E20;
  }
  .save {
    color: #F90303;
    font-size: 1rem;
    display: block;
  }
   
</style>
